@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

.btn-add-remove {
  @apply w-full bg-gradient-to-b from-yellow-300 to-yellow-500 px-6 py-2 active:from-yellow-500 active:to-yellow-300 font-medium transition-colors rounded;
}
.btn-cart-sign-in {
  @apply w-full mt-5 bg-gradient-to-b from-gray-300 to-gray-500 p-2 active:from-gray-500 active:to-gray-300 font-medium transition-colors rounded text-white;
}

.expanded-view {
  display: none;
  transition: display .1s ease-in-out;
}

.product-card:hover > .expanded-view {
  display: inline;
}

.divider::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  top: 11px;
  z-index: 1;
  @apply bg-gray-300;
}